<%= form_for order, remote: true do |f| %>

  <%= f.label :complete, order.name, style: 'font-size:160%; background-color: #00ff00;' %>
  
   <% if order.status == 'open' %>


  <%= link_to_add_fields "Add Meal", f, :meals %>

 
  <%= link_to "(remove order)", order, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>

<%end%>

<%= f.select :status, ['open', 'finalized', 'delivered', 'ordered']%>

   <%= f.submit "Update order" %>
  

<h4>Meals</h4>
  <table>
    <tr>
      <th>User</th>
      <th>Meal</th>
      <th>Price</th>
    </tr>
  <% order.meals.each do |meal| %>
    <tr>
      <td><%= meal.user.name %></td>
      <td><%= meal.name %></td>
      <td><%= meal.price %></td>
    </tr>
  </table>

  <% end %>
<% end %>
 
