 <% if current_user %>

<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<%= link_to "New Order", new_order_path, id: "new_link", remote: true  %>
<h2>Incomplete Orders</h2>
<div class="orders" id="incomplete_orders">
  <%= render @incomplete_orders %>
</div>
<h2>Comlpete Orders</h2>
<div class="orders" id="complete_orders">
  <%= render @complete_orders %>
</div>







<% else %>
  <%= render 'welcome' %>
<% end %>


